<p id="notice"><%= notice %></p>

<h1>Team Seasons</h1>

<table>
  <thead>
    <tr>
      <th>season</th>
      <th>city</th>
      <th>team</th>
      <th>color</th>
      <th>salary</th>
      <th>wins</th>
      <th>losses</th>
      <th>win %</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_seasons.each do |team_season| %>
      <tr>
        <td><%= team_season.season %></td>
        <td><%= team_season.team_city %></td>
        <td><%= team_season.team_name %></td>
        <td><%= team_season.team_color %></td>
        <td><%= team_season.salary %></td>
        <td><%= team_season.wins %></td>
        <td><%= team_season.losses %></td>
        <td><%= team_season.win_percentage.to_s[1..-1] %></td>
        <td><%= link_to 'Show', team_season %></td>
        <td><%= link_to 'Edit', edit_team_season_path(team_season) %></td>
        <td><%= link_to 'Destroy', team_season, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Season', new_team_season_path %>


<br><br>
<hr>
<br><br>